<template id="test-elem-template">
    <style>
        :host {
            display: block;
            background: #000;
        }
        :host h1 {
            text-align: center;
        }
    </style>
    <h1><slot></slot></h1>
</template>
<script>
    class TestElement extends HTMLElement {
        static get observedAttributes() {
            return ['color', 'background'];
        }

        constructor() {
            super();
            let shadowRoot = this.attachShadow({mode: 'open'});
            const template = document.currentScript.ownerDocument.getElementById('test-elem-template');
            const content = template.content.cloneNode(true);
            shadowRoot.appendChild(content);

            this.colorList = ['blue', 'red', 'orange', 'purple'];
            this.colorSelectedIdx = 0;
            this.addEventListener('click', this.clickHandler);
            this.h1 = this.shadowRoot.querySelector('h1');
        }

        connectedCallback() {
            var color = this.color;
            this.h1.style.color = color;
            this.h1.textContent = color;
            this.h1.style.background = this.background;
        }

        attributeChangedCallback(attribute, oldVal, newVal) {
            if (newVal !== oldVal) // Guard against infinite loop
                this[attribute] = newVal;
        }

        clickHandler(e) {
            if (this.colorSelectedIdx == this.colorList.length - 1)
                this.colorSelectedIdx = 0;
            else
                this.colorSelectedIdx++;

            this.color = this.colorList[this.colorSelectedIdx];
            this.background = this.colorList[this.colorList.length - (this.colorSelectedIdx + 1)];

            var h1 = this.shadowRoot.querySelector('h1');
            var color = this.color;
        }

        get color() {
            return this.getAttribute('color');
        }

        set color(newValue) {
            this.h1.style.color = newValue;
            this.h1.textContent = newValue;
            this.setAttribute('color', newValue);
        }

        get background() {
            return this.getAttribute('background');
        }

        set background(newValue) {
            this.h1.style.background = newValue;
            this.setAttribute('background', newValue);

        }
    }
    window.customElements.define('test-elem', TestElement)
</script>